{% extends '_base.html' %}

{% block title %}Clock Info{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <h4>Add Your Clock</h4><br>
    <div class="card" style="width: 18rem;">
      {% if clock.image_1 %}
      <img class="card-img-top" src="{{clock.image_1.url}}" alt="{{clock.clock_type}}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'clock_update' clock.id %}">{{ clock.nickname }}</a></h5>
        <p class="card-text">This {{ clock.clock_type_fk }} clock is {{ clock.footprint }} mounted.
          {% if clock.wind_interval_days > 0 %}
           It has a train count of {{ clock.train_count }}
          (i.e., it winds in {{ clock.train_count }} places), 
          and it has to be wound every {{ clock.wind_interval_days }} days.
          {% endif %}
         It is {{ clock.drive_type }} driven.
        <h6>Features:</h6>
        <ul>
          {% if clock.chime_count > 0 %}
          <li>Has {{ clock.chime_count }} chime options</li>
          {% endif %}
          {% if clock.strike_type != 'None' %}
          <li>Has {{ clock.strike_type }} strike</li>
          {% endif %}
          {% if clock.has_pendulum %}
          <li>Has pendulum</li>
          {% endif %}
          {% if clock.has_self_adjusting_beat %}
          <li>Has self adjusting beat</li>
          {% endif %}
          {% if clock.has_self_adjusting_strike %}
          <li>Has self adjusting strike</li>
          {% endif %}
          {% if clock.has_second_hand %}
          <li>Has a second hand</li>
          {% endif %}
          {% if clock.has_off_at_night %}
          <li>Has "Off at Night" feature</li>
          {% endif %}
          {% if clock.has_calendar %}
          <li>Has a calendar</li>
          {% endif %}
          {% if clock.has_moon_dial %}
          <li>Has a moon dial</li>
          {% endif %}
          {% if clock.has_alarm %}
          <li>Has an alarm</li>
          {% endif %}
          {% if clock.has_activity_other %}
          <li>Has additional moving figures</li>
          {% endif %}
          {% if clock.has_tubes %}
          <li>Has tubular chaime & strike</li>
          {% endif %}
          {% if clock.tube_count > 0 %}
          <li>Has {{ clock.tube_count }} or more tubes</li>
          {% endif %}
        </ul>
        {% if customer_list %}
          {% if workorders %}
          <h6>Work Orders Outstanding:</h6>
          <ol>
            {% for workorder in workorders %}
            <li><a href="{% url 'workorder' workorder.id %}">{{ workorder.date_created }}</a></li>
            {% endfor %}
          </ol>
          {% else %}
            <a class="btn btn-outline-primary" href="{% url 'clock_estimate' clock.id %}">Get Repair Estimate</a>
          {% endif %}
        {% else %}
        <hr>
        <a href="{% url 'customers' %}">Address</a> required for estimates.
        {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}