{% extends '_base.html' %}

{% block title %}Clock Info{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      {% if clock.image_1 %}
      <img class="card-img-top" src="{{clock.image_1.url}}" alt="{{clock.clock_type}}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'clock_update' clock.id %}">{{ clock.nickname }}</a></h5>
        <p class="card-text">This {{ clock.clock_type_fk }} clock is {{ clock.footprint }} mounted.
          {% if clock.wind_interval_days > 0 %}
           It has a train count of {{ clock.train_count }}
          (i.e., it winds in {{ clock.train_count }} places), 
          and it has to be wound every {{ clock.wind_interval_days }} days.
          {% endif %}
         It is {{ clock.drive_type }} driven.
        <h6>Features:</h6>
        <ul>
          {% if clock.chime_count > 0 %}
          <li>Has {{ clock.chime_count }} chime options</li>
          {% endif %}
          {% if clock.strike_type != 'None' %}
          <li>Has {{ clock.strike_type }} strike</li>
          {% endif %}
          {% if clock.has_pendulum %}
          <li>Has pendulum</li>
          {% endif %}
          {% if clock.has_self_adjusting_beat %}
          <li>Has self adjusting beat</li>
          {% endif %}
          {% if clock.has_self_adjusting_strike %}
          <li>Has self adjusting strike</li>
          {% endif %}
          {% if clock.has_second_hand %}
          <li>Has a second hand</li>
          {% endif %}
          {% if clock.has_off_at_night %}
          <li>Has "Off at Night" feature</li>
          {% endif %}
          {% if clock.has_calendar %}
          <li>Has a calendar</li>
          {% endif %}
          {% if clock.has_moon_dial %}
          <li>Has a moon dial</li>
          {% endif %}
          {% if clock.has_alarm %}
          <li>Has an alarm</li>
          {% endif %}
          {% if clock.has_activity_other %}
          <li>Has additional moving figures</li>
          {% endif %}
          {% if clock.has_tubes %}
          <li>Has tubular chaime & strike</li>
          {% endif %}
          {% if clock.tube_count > 0 %}
          <li>Has {{ clock.tube_count }} or more tubes</li>
          {% endif %}
        </ul>
          {% if workorders %}
          <h6>Work Orders:</h6>
          <ol>
            {% for workorder in workorders %}
            <li><a href="{% url 'workorder' workorder.id %}">{{ workorder.date_created }}</a></li>
            {% endfor %}
          </ol>
          {% endif %}
        </p>
      </div>
    </div>
    <input class="btn btn-secondary" type="button" value="Back" onclick="history.back()" />
  </div>
  <div class="col">
        {% if not workorders %}
        {% if customer_addresses %}
      {% if request.COOKIES.user_type == 'customer' %}
        <form class='form' action="{% url 'clock_estimate' clock.id %}" method="GET">
          {% csrf_token %}
          <input type="hidden" id="id_clock_id" name="clock_id" value={{ clock.id }}>
          <h5>Get Approximate Estimate</h5>
          <br>
          <table cellpadding="10" cellspacing="10" border="1">
            <tr>
              <th nowrap><label for="id_address_clock_fk">Clock Address</label></th>
              <td>
                <select name="address_clock_fk" required id="id_address_clock_fk">
                  {% for address in customer_addresses %}
                  <option value="{{ address.id }}">{{ address.nickname }}</option>
                  {% endfor %}
                </select>
                <!-- The address where the clock resides -->
                </td>
            </tr>
            <tr>
              <th nowrap><label for="id_repair_type">Estimate Type</label></th>
              <td>
                <select name="repair_type" required id="id_repair_type">
                  <option value="House Call">House Call (on-site adjustments)</option>
                  <!-- Same as Clean & Overhaul -->
                  <option value="Refurbish Mechanical" selected>Clean / Overhaul Mechanical Clock</option>
                  <option value="Refurbish Quartz">Refurbish / Replace Battery Movement</option>
                  <!-- Same as Clean & Overhaul -->
                  <option value="Refurbish Electric">Refurbish / Replace Electric Movement</option>
                  <option value="Get Working">Adjust / Get Working</option>
                  <option value="Replace Parts">Add / Replace Parts</option>
                  <option value="Mechanical to Quartz">Replace Mechanical Movement w/ Battery Movement</option>
                  <option value="Regulate">Regulate Time</option>
                  <option value="Prepair to Move">Prepair Grandfather Clock for Move / Shipping</option>
                  <option value="Move Grandfather">Move Grandfather Clock from one Address to Another</option>
                </select>
                <!-- The repair type needed -->
              </td>
            </tr>
            <tr>
              <th nowrap><label for="id_address_deliver_fk">Move to Address</label></th>
              <td>
                <select name="address_deliver_fk" id="id_address_deliver_fk">
                  <option value="">---------</option>
                  {% for address in customer_addresses %}
                  <option value="{{ address.id }}">{{ address.nickname }}</option>
                  {% endfor %}
                </select>
                Destination address
                </td>
            </tr>
            <tr>
              <td> </td>
              <td>
                <input class='btn btn-primary' type='submit' value="Get Estimate">
              </td>
            </tr>
          </table>
        </form>
        {% endif %}
        {% else %}
          <a class="btn btn-outline-primary" href="{% url 'address_add' %}">Add Address</a> to receive estimates.
        {% endif %}
    {% endif %}
  </div>
  </div>
{% endif %}

{% endblock content %}
