{% extends '_base.html' %}

{% block title %}Clocks{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  {% if clocks %}
    {% for clock in clocks %}
      <div class="row align-items-center">
        <div class="col-3">
          <a href="{% url 'clock' clock.id %}">{{ clock.nickname }}</a>
        </div>
        <div class="col-3">
          {% if clock.image_1 %}
          <img class="img-thumbnail" src="{{clock.image_1.url}}" alt="{{clock.nickname}}">
          {% endif %}
          </div>
        </div>
      <hr>
    {% endfor %}
    <div>
      <a class="btn btn-outline-primary" href="{% url 'clocktypes' %}">Add Clock</a>
    </div>
  {% else %}
    <div class="row">
      <div class="col-sm">
        Please <a href="{% url 'clocktypes' %}">add your clock's information...</a>
      </div>
    </div>
  {% endif %}
{% endif %}
{% endblock content %}