{% extends '_base.html' %}

{% block title %}Customers{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  {% if customers %}
    {% for customer in customers %}
    <!-- ({{ customer.user_fk_id }}) =? ({{ user.id }}) -->
      {% if customer.user_fk_id == user.id %}
      <h2><a href="{% url 'customer_update' customer.id %}">{{ customer.first_name }} {{ customer.last_name }}</a></h2>
          {{ customer.phone.as_national }}
      {% endif %}
    {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-sm">
      To enter your customer name and phone click the Begin button<br>
      <a class="btn btn-outline-primary" href="{% url 'customer_create' %}">Begin</a>
    </div>
  </div>
{% endif %}
{% endif %}
{% endblock content %}
