{% extends '_base.html' %}

{% block title %}Customer{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <h4>Contact Information</h4><br>
    <h2><a href="{% url 'customer_update' customer.id %}">{{ customer.first_name }} {{ customer.last_name }}</a></h2>
    <p>
      {{ customer.address_street }}
        {% if customer.address_other %}
        {{ customer.address_other }}
        {% endif %}
        <br>{{ customer.city }}, {{ customer.state }} {{ customer.zipcode }}
        <br>{{ customer.phone_number.as_national }}
    </p>
    {% if not user.email_verified %}
    <a href="{% url 'account_email' %}">Verify your email...</a>
  {% endif %}
  </div>
</div>
{% endif %}
{% endblock content %}
