{% extends '_base.html' %}
{% load static %}

{% block title %}Clock Info{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <link rel="stylesheet" href="{% static 'css/workorder.css' %}">

    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td colspan="2">
                                <a href="{% url 'customer_clock' clock.id %}">{{ clock.nickname }}</a><br>
                                {{ workorder.date_created }}<br>
                                ID: {{ workorder.id }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <a href="{% url 'repairer_about' workorder.repairer_fk_id %}">{{ repairer.first_name }} {{ repairer.last_name }}</a><br>
                                {{ repairer.address_street }}
                                {% if repairer.address_other %}
                                , {{ repairer.address_other }}
                                {% endif %}
                                <br>{{ repairer.city }}, {{ repairer.state }} {{ repairer.zipcode }}
                                <br>{{ repairer.phone_number.as_national }}
                            </td>
                            <td>
                                <a href="{% url 'customer' customer.id %}">{{ customer.first_name }} {{ customer.last_name }}</a><br>
                                {{ customer.address_street }}
                                    {% if customer.address_other %}
                                    {{ customer.address_other }}
                                    {% endif %}
                                    <br>{{ customer.city }}, {{ customer.state }} {{ customer.zipcode }}
                                    <br>{{ customer.phone_number.as_national }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Description lines -->
            <tr class="heading">
                <td colspan=2>Repair Description</td>
            </tr>
            <tr class="details">
                <td colspan=2>{{ workorder.repair_description }}</td>
            </tr>
            <tr class="heading">
                <td>Repair Status</td>
                <td>Last Updated</td>
            </tr>
            <tr class="details">
                <td>{{ workorder.get_repair_status_display }}</td>
                <td>{{ workorder.date_last_updated }}</td>
            </tr>
            <!-- Payment lines -->
            {% if workorder.repair_status == 'Paid in Full' %}
            <tr class="heading">
                <td>Payment Method</td>
                <td>USD</td>
            </tr>
            <tr class="details">
                <td></td>
                <td></td>
            </tr>
            {% endif %}                    
            <!-- Line items headline -->
            <tr class="heading">
                <td>Item</td>
                <td>Price</td>
            </tr>
            <!-- Initial estimate -->
            <tr class="item">
                <td>
                    {{ workorder.repair_type }} - 
                    {% if repairer.repairer_estimate %}
                        (Repairer Estimated)
                    {% else %}
                        (Dynamically Estimated)
                    {% endif %}                    
                </td>
                <td>
                    {% if repairer.repairer_estimate %}
                        {{ repairer.repairer_estimate }}
                    {% else %}
                        {{ workorder.dynamic_estimate  }}
                    {% endif %}                    
                </td>
            </tr>
            <!-- Line items -->
            <!-- Loop over the following with original estimate + addons -->

            <!-- <tr class="item last">
                <td>
                    Domain name (1 year)
                </td>
                <td>
                    $10.00
                </td>
            </tr> -->
            
            <!-- Total Row -->
            <!-- <tr class="total">
                <td></td>
                <td>
                Total: $###.##
                </td>
            </tr> -->
        </table>
    </div>
</div>
{% endif %}

{% endblock content %}