{% extends '_base.html' %}

{% block title %}Clocktypes{% endblock title %}

{% block content %}
  {% csrf_token %}
  {% for clocktype in clocktypes %}
  <div class="row align-items-center">
    <div class="col-6">
      <a href="{% url 'clocktype' clocktype.id %}">{{ clocktype.clock_type }}</a>
    </div>
    <div class="col-3">
      {% if clocktype.image_1 %}
      <img class="img-thumbnail" 
        src="{{clocktype.image_1.url}}" 
        alt="{{clocktype.clock_type}}" 
        onclick="window.open('{{clocktype.image_1.url}}', '_blank');"\>
      {% endif %}
      </div>
  </div>
  <hr>
{% endfor %}
{% endblock content %}
