{% extends '_base.html' %}

{% block title %}{{ clocktype.title }}{% endblock title %}

{% block content %}
<div class="card" style="width: 18rem;">
  {% if clocktype.image_1 %}
  <img class="card-img-top" src="{{clocktype.image_1.url}}" alt="{{clocktype.clock_type}}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ clocktype.clock_type }}</h5>
    <p class="card-text">This type of {{ clocktype.footprint }} clock typically has a 
      train count of {{ clocktype.train_count }} 
      (i.e., it winds in {{ clocktype.train_count }} places), and a wind interval of 
      {{ clocktype.wind_interval_days }} days.  It might be {{ clocktype.drive_type }} 
      driven and it probably has {{ clocktype.chime_count }} chime options and a 
      {{ clocktype.strike_type }} strike.
      <h6>Common features:</h6>
      <ul>
      {% if clocktype.has_pendulum %}
       <li>Has pendulum of some sort</li>
      {% endif %}
      {% if clocktype.has_self_adjusting_beat %}
      <li>Has self adjusting beat</li>
      {% endif %}
      {% if clocktype.has_self_adjusting_strike %}
      <li>Has self adjusting strike</li>
      {% endif %}
      {% if clocktype.has_second_hand %}
      <li>Has a second hand</li>
      {% endif %}
      {% if clocktype.has_off_at_night %}
      <li>Chime and strike can be set to "Off at Night"</li>
      {% endif %}
      {% if clocktype.has_calendar %}
      <li>Has a calendar</li>
      {% endif %}
      {% if clocktype.has_moon_dial %}
      <li>Has a moon dial</li>
      {% endif %}
      {% if clocktype.has_alarm %}
      <li>Has an alarm</li>
      {% endif %}
      {% if clocktype.has_activity_other %}
      <li>May have additional moving figures</li>
      {% endif %}
      {% if clocktype.has_tubes %}
      <li>May have tubes</li>
      {% endif %}
      {% if clocktype.tube_count > 0 %}
      <li>May have {{ clocktype.tube_count }} or more tubes </li>
      {% endif %}
    </ul>
    <a target="_blank" href="https://www.antiqueclockspriceguide.com/clocktyperesults.php?t={{ clocktype.clock_type }}" class="btn btn-primary">Visit Antique Clock Price Guide</a>
  </p>
  </div>
</div>
{% endblock content %}