{% extends '_base.html' %}
{% load static %}

{% block title %} About {% endblock title %}

{% block content %}

<h1></h1>

<div class="row">
    <div class="col"><h2>Do you want a clock repaired?</h2></div>
    <div class="col"><h2>Do you know how to repair clocks?</h2></div>
  </div>
  <div class="row">
    <div class="col"><h4><a href="{% url 'customer_walkthrough' %}">Learn how to becomer a customer</a></h4></div>
    <div class="col"><h4><a href="{% url 'repairer_walkthrough' %}">Learn how to become a repair person</a></h4></div>
  </div>  

  {% endblock content %}