{% extends '_base.html' %}
{% load static %}

{% block title %}Customer Walkthrough{% endblock title %}

{% block content %}

<h2><strong>Customer Walkthrough</strong></h2>
<br>
<hr>
<ul>
    <li>From the home page</li>
<li>Click the <strong>Sign Up</strong> button or link</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/01_cust_click_sign_up.png' %}" alt="Click the Sign Up button or link" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Enter an email address and password</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/02_cust_sign_up_form.png' %}" alt="Enter an email address and password" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click <strong>Yes</strong> when your browser asks if you want to save your password.</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/02_cust_save_password.jpg' %}" alt="Click yes to save password" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Open your email and look for the Welcome message</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/03_cust_locate_email.png' %}" alt="Find the Welcome email" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>In the email text, click the link following <strong>"To confirm, go to ..."</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/04_mi_welcome_email_full.png' %}" alt="click the link following 'To confirm, go to ...'" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Click the <strong>Confirm</strong> button to confirm your email address</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/05_cust_click_confirm.png' %}" alt="Confirm email address" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Become A Customer</strong> link</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/04_cust_click_become_cust_link.png' %}" alt="Click the Become A Customer link" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Begin</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/06_cust_become_customer_begin.png' %}" alt="Click the Begin button" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Fill out the Customer Information form then press the <strong>Submit</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/10_cust_customer_create_form_filed_out.png' %}" alt="Fill out the Customer Information form" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Mi - Clock Repair</strong> logo to return to the home page</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/11_cust_post_customer_create_page.png' %}" alt="Post Customer Create Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Add Address</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/12_cust_home_post_create_cust.png' %}" alt="Home Page Post Customer Create Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Enter nickname and contact information for this address</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/13_cust_address_add_nickname.png' %}" alt="Address Nickname Form" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Type your address in the <strong>Search</strong> box to get your location</li>
    <li>Then click on your address</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/14_cust_address_search.png' %}" alt="Search for your address" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>The Address Information form will be automatically filled out for you</li>
    <li>Make any necessary changes</li>
    <li>Press <strong>Submit</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/15_cust_address_map_with_address.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Mi - Clock Repair</strong> logo to return to the home page</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/16_cust_post_address_add.png' %}" alt="Post Address Add Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Add Clock</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/17_cusst_add_clock.png' %}" alt="Home Page Post Address Add Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Scroll through the list of clock types</li>
    <li>Don't worry about the different clock type names because there is no industry standard naming convention for clock types</li>
    <li>Try to find a clock that most closely resembles your clock</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/18_cust_add_clock_clocktypes.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Read the descriptions</li>
    <li>Ask yourself...</li>
    <li>Does your clock have batteries? Does your clock strike the hour? Does your clock chime every quarter of an hour?</li>
    <li>Look for a description that most closely matches your clock's functionality</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/19_cust_add_clock_clocktypes_bat_or_not.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>For the purpose of this walkthrough the clock type we are trying to find is a General Motors retirement wall clock</li>
    <li>A common configuration of these clocks in the Michigan area is 8-Day Wind-up w/ Westminster chime</li>
    <li>Look for a description that most closely matches your clock's functionality</li>
    <li>Then click the button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/20_cust_add_clock_clocktypes_gm_droptrunk_wall.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Most of the clock information is already provided</li>
    <li>Enter a Nickname for this clock</li>
    <li>You are welcome to review the other fields but the clock repair person can fill these out later if you are unsure.</li>
    <li>Thus, you can accept all of the default values</li>
    <li>Finally, scrool to the bottom of the form to add at least one picture of your clock.</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/21_cust_add_clock_form.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Adding pictures helps the repairer better understand your clock</li>
    <li>To add pictures</li>
    <li>Click <strong>Image 1: Choose File</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/22_cust_add_clock_form_add_pic1.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Clicking <strong>Choose File</strong> will open a file explorer on your device</li>
    <li>Navigate to your pictures folder</li>
    <li>Then, scroll through your pictures and find a good one of your clock</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/23_cust_add_clock_image1_open.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Locate the picture of your clock</li>
    <li>Click on the picture you want to add</li>
    <li>Then, click <strong>Open</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/24_cust_add_clock_image1_select.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>After selecting your clock's picture</li>
    <li>You will see the picture's location on the Add Clock form</li>
    <li>Now, click <strong>Submit</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/25_add_clock_image1_added_form.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Your clock has been added</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/26_cust_add_clock_added_full.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>From here you can get dynamic clock repair estimates</li>
    <li>Click <strong>Get REpair Estimate</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/26_cust_add_clock_added_top.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>These are the repairer estimates for your clock</li>
    <li>To see the Repairer's Details click the repairer's name</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/27_cust_clock_estimate.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>After reviewing the repairer's information</li>
    <li>Click the Back button to return to the dynamic estimates</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/28_cust_repairer_details_full.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Now you can create a work order</li>
    <li>Click the Create Work Order button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/29_cust_create_workorder.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Describe what is wrong with your clock</li>
    <li>Click the <strong>Submit</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/30_cust_create_workorder_description.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>This new Work Order is now viewable by both you and the Repairer you selected</li>
    <li>You can add comments to your Work Order by clicking the "<strong>+</strong>" sign next to the Item field</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/31_cust_workorder.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>To add a comment select Comment under Addon Type</li>
    <li>Add the description text</li>
    <li>Then click the <strong>Submit</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/32_cust_workorder_addons_add_comment.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>As you can see your Comment is now a part of your Work Order</li>
    <li>Both you and the Repairer can add to this Work Order this way</li>
    <li>You now have seen most of the functionality offered on this site</li>
    <li>To see a summary of your information click the <strong>Mi - Clock Repair</strong> logo to return to the home page</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/33_cust_workorder_addons_added.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>The Home Page shows most of your information</li>
    <li>Clicking any of the links such as customer name and address name will allow you to edit your provided information</li>
    <li>You can also click a "Find Repair People" button to get a map of nearby repairers</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/34_cust_home_again.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Find Repair People</li>
    <li>The map has your address marked with a circle and repairer's addesses marked with triangles</li>
    <li>To return to your summary page click the <strong>Mi - Clock Repair</strong> logo again</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/35_cust_repairers_nearby.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>The My Information menu</li>
    <li>Use this menu to navigate to all of your associated information</li>
    <li><strong>Workorders</strong> - returns a list of your work orders</li>
    <li><strong>Clocks</strong> - returns a list of your clocks</li>
    <li><strong>Addresses</strong> - returns a list of your addresses</li>
    <li><strong>Customer</strong> - returns a your customer information</li>
    <li><strong>Email</strong> - takes you to some email related settings</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/customer/36_cust_my_info_menu.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Success!!</li>
    <li>You now have all the information you need to use this site</li>
</ul>
<br>
<hr>
<br>


{% endblock content %}
