{% extends '_base.html' %}
{% load static %}
{% load account %}

{% block title %}MI - Clock Repair | Home{% endblock title %}

{% block content %}
  <h1>MI - Clock Repair</h1>
  <h5>
  {% if user.is_authenticated %}
  Are you already a <a href="{% url 'customers' %}">customer</a>?
  <BR>
  Have you added any of your <a href="{% url 'clocks' %}">clocks</a>?
  {% else %}
    To use this site you must either <a href="{% url 'account_login' %}">Log In</a> to your existing account
    or <a href="{% url 'account_signup' %}">Sign Up</a> for a new account.
  </h5>
{% endif %}
{% endblock content %}
