{% extends '_base.html' %}
{% load static %}

{% block title %} Repairer Walkthrough {% endblock title %}

{% block content %}

<h2><strong>Repairer Walkthrough</strong></h2>
<br>
<hr>
<ul>
<li>From the home page</li>
<li>Click the <strong>Sign Up</strong> button or link</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/01_rep_signup.png' %}" alt="Click the Sign Up button or link" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Enter an email address and password</li>
    <li>Click <strong>Sign Up</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/02_rep_signup_form.png' %}" alt="Enter an email address and password" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click <strong>Yes</strong> when your browser asks if you want to save your password.</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/02_cust_save_password.jpg' %}" alt="Click yes to save password" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Open your email application</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/03_rep_open_email_app.png' %}" alt="Find the Welcome email" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Open your email and look for the Welcome message</li>
    <li>Open the Welcome message</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/04_rep_within_email_app.png' %}" alt="Find the Welcome email" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>In the email text, click the link following <strong>"To confirm, go to ..."</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/05_rep_welcome_text.png' %}" alt="click the link following 'To confirm, go to ...'" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Confirm</strong> button to confirm your email address</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/06_rep_confirm_email.png' %}" alt="Confirm email address" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Become A Repairer</strong> link</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/07_rep_become_repairer.png' %}" alt="Click the Become A Customer link" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>add your information...</strong> link</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/08_rep_become_repairer_link2.png' %}" alt="Click the Begin button" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Fill out the Repairer Information form</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/09_rep_repairer_form_top.png' %}" alt="Fill out the Customer Information form" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>At the bottom of the form add at least one picture that potential customers will see when viewing your profile</li>
<li>To add pictures</li>
<li>Click <strong>Image 1: Choose File</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/10_rep_repairer_form_bottom.png' %}" alt="Fill out the Customer Information form" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Clicking <strong>Choose File</strong> will open a file explorer on your device</li>
    <li>Navigate to your pictures folder</li>
    <li>Then, scroll through your pictures and find a good one yourself at work</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/11_rep_add_pic_open.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Locate the picture</li>
    <li>Click on the picture you want to add</li>
    <li>Then, click <strong>Open</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/12_rep_create_add_pic_selected.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>After selecting your picture</li>
    <li>You will see the picture's location in the form</li>
    <li>Now, click <strong>Submit</strong></li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/13_rep_create_form_with_image_link.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>This will take you to the Repairer's About page</li>
<li>Click the <strong>Add Address</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/14_rep_about_info.png' %}" alt="Post Customer Create Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Enter nickname and contact information for this address</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/15_rep_address_nickname.png' %}" alt="Address Nickname Form" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Type your address in the <strong>Search</strong> box to get your location</li>
    <li>Then click on your address</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/16_rep_address_search.png' %}" alt="Search for your address" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>The Address Information form will be automatically filled out for you</li>
    <li>Make any necessary changes</li>
    <li>Press <strong>Submit</strong> button</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/17_rep_address_search_results.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Click the <strong>Mi - Clock Repair</strong> logo to return to the home page</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/18_rep_post_address_add.png' %}" alt="Post Address Add Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>You can see what customers see by clicking <strong>View Details</strong> button</li>
    <li>You can edit your Repairer settings by clicking your name</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/19_rep_home_post_address_add.png' %}" alt="Home Page Post Address Add Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>The <strong>My Information</strong> menu</li>
    <li>Use this menu to navigate to all of your associated information</li>
    <li><strong>Workorders</strong> - returns a list of your work orders</li>
    <li><strong>Estimates</strong> - returns a list of dynamic estimates based on your Repairer settings</li>
    <li><strong>Address</strong> - shows your address</li>
    <li><strong>Repairer</strong> - shows your repairer information</li>
    <li><strong>Email</strong> - takes you to some email related settings</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/20_rep_my_info_menu.png' %}" alt="" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
<li>Select <strong>Estimates</strong> from the <strong>My Information</strong> menu</li>
<li>Use these dynamic estimate results to adjust your hourly rate to reflect your desired pay</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/21_rep_estimates.png' %}" alt="Post Address Add Page" width="750" height="422" /></p>
<br>
<hr>
<br>
<ul>
    <li>Note the descriptions above the enumerated clock type names</li>
    <li>In the below example: 23 is time-only, 25 has a music box, and 27 has both a music box and additional animation</li>
    <li>Dynamic estimates are based on the estimated hours of work which is based on each clock type's features</li>
    <li>The final amount is hours multiplied by the repairer's hourly rate.</li>
    <li>These same calculations are used when offering customers with dynamic estimates for their specific clocks</li>
</ul>
<p><img class="" src="{% static 'images/walkthroughs/repairer/22_rep_estimates_cuckoos.png' %}" alt="Home Page Post Address Add Page" width="750" height="422" /></p>


<br>
<hr>
<br>
<ul>
    <li>Success!!</li>
    <li>You now have all the information you need to become a Repairer and begin directing your customers to this site</li>
    <li>New Repairers may want to view the <a href="{% url 'customer_walkthrough' %}">Customer Walkthrough</a> to see how this site appears to customers</li>
</ul>
<br>
<hr>
<br>

{% endblock content %}
