{% extends '_base.html' %}

{% block title %}Address{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <h2><a href="{% url 'address_update' address.id %}"> {{ address.nickname }}</a></h2>
    {{ address.contact_name }}<br>
    {{ address.contact_phone.as_national }}<br>
    <address>
      {{ address.address }}
        {% if address.address_other %}
        , {{ address.address_other }}
        {% endif %}
        <br>{{ address.place_city }}, {{ address.region_state }} {{ address.postcode }}
        <br>{{ address.country }}
    </address>
  </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-danger" href="{% url 'address_delete' address.id %}">Delete Address</a>
    </div>
</div>
{% endif %}
{% endblock content %}


'locality_disctrict',
'district_prefectures',
'country',
