{% extends '_base.html' %}

{% block title %}Customers{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  {% if addresses %}
    {% for address in addresses %}
    <!-- ({{ address.user_fk_id }}) =? ({{ user.id }}) -->
      {% if address.user_fk_id == user.id %}
      <div class="row">
        <div class="col">
          <h2><a href="{% url 'address_update' address.id %}"> {{ address.nickname }}</a></h2>
          {{ address.contact_name }}<br>
          {{ address.contact_phone.as_national }}<br><br>
          <address>
            {{ address.address }}
              {% if address.address_other %}
              , {{ address.address_other }}
              {% endif %}
              <br>{{ address.place_city }}, {{ address.region_state }} {{ address.postcode }}
              <br>{{ address.country }}
          </address>
            {% if customers %}
              <div>
                    <a class="btn btn-outline-primary" href="{% url 'repairers_nearby' address.id %}">Find Repair People</a>
              </div>
            {% endif %}
          </div>
        </div>
        <hr>
        {% endif %}
    {% endfor %}
    {% if customers %}
    <div>
          <a class="btn btn-outline-primary" href="{% url 'address_add' %}">Add Address</a>
    </div>
  {% endif %}
{% else %}
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-outline-primary" href="{% url 'address_add' %}">Add Address</a>
    </div>
  </div>
{% endif %}
{% endif %}
{% endblock content %}
